/* Archivo que contiene el estilo de las paginas*/

/* De esta manera se puede decorar el fondo de las paginas */
body{
  /* Formato de colores */
  background: rgb(213,152,191);
  background: radial-gradient(circle, rgba(213,152,191,1) 1%, rgba(213,152,191,1) 2%, rgba(238,174,202,1) 28%, rgba(86,198,218,1) 90%);
}

  /* Formato de la primera etiqueta */
h1{
    /* Formato de colores, tamaño, fuente y alineacion */
  color: #e474f1 ;
  font-size: 60px;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

  /* Formato de la segunda etiqueta */
h2{
  /* Formato de colores, tamaño, fuente y alineacion */
  color:  #fb7a20;
  font-size: 40px;
  font-family: sans-serif;
  text-align: left;
}

  /* Formato del parrafo de las paginas */
p{
    /* Formato de colore, tamaño, fuente */
  color: black;
  font-size: 21px;
  font-family: 'Chivo', sans-serif;
}

  /* Formato de la lista que contendra el formato de la lista */
ul{
    /* Formato de tipo de estilo, margenes, color de fondo y fuente */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #008bf5;
  font-family: 'Chivo', sans-serif;
}

  /* Formato de la ubicacion de los elementos de la lista */
li {
  float: left;
}
/* Con las siguientes opciones que incluyen dropdown se puede generar el menu bar */

/* */
li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* De esta manera se escoge el color del menubar*/
li a:hover, .dropdown:hover .dropbtn {
  background-color:  #f68232 ;
}

/* Tambien se indica como debe moverse el menubar */
li.dropdown {
  display: inline-block;
}

/* De esta manera se definiran los parametros al seleccionar con el mouse sobre el menubar
como por ejemplo colores, grosor, posicion, tamaño entre otros */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #82fd37 ;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Se definen los parametros del texto del menu bar como el color, tamaño y alineacion*/
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* De esta manera al seleccionar una opcion se coloreara de esta manera */
.dropdown-content a:hover {background-color: cyan;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Mediante la accion de customers se puede hacer el formato de la tabla con las abreviaciones
de los aminoacidos */

/* Se define el formato de la tabla, como por ejemplo la anchura, el formato de la letra,
alineacion, y color de fondo de esta*/
#customers {
    font-style: Arial;
    font-size: 20px;
    width: 60%;
    text-align: center;
    background:  #c4d8f6 ;
  }

/*De esta manera se modican las columnas y filas*/
#customers td, #customers th {
  /* Se definen los aspectos de estilo que tendran como los bordes, colores, etc.*/
    border: 3px solid black;
    border-style: solid;
    border-collapse: collapse;
    border-color: black;
    border-radius: 10px;
  }


/*Con esta opcion se define como sera el formato del texto incial de la tabla*/
#customers th {
    text-align: center;
    color: black;
}

/* Se define el color de las filas intermedias*/
#customers tr:nth-child(even) {
 background-color:  #74c5ed;
}

/* Con este formato podemos diseñar de mejor manera el titulo de las paginas*/
/* Se definen los tamaños que tendran*/
.bg-1{
	   height: 10vh;
	   padding-top: 10px;
	}

/* Se define el color del titulo, los bordes y otros aspectos */
	.t-stroke {
	  color: purple;
	  -moz-text-stroke-width: 3px;
	  -webkit-text-stroke-width: 3px;
	  -moz-text-stroke-color:  #f011cb ;
	  -webkit-text-stroke-color: #211e1e;
	}

/* La sombra que tendra el titulo se definen algunos formatos*/
	.t-shadow {
	  text-shadow: 7px 7px #de16d1;
	}
